<html>
    <header>
        <title>Homepage</title>
        <link rel="stylesheet" href="/styles.css">
    </header>
    <body>
        <%= title %>
        <a href="/new">Add a new message </a>
        <ul>
            <% messages.forEach((msg, index) => { %>
                <li>
                <strong><%= msg.user_name %></strong>: <%= msg.message_text %>
                <em>(<%= msg.added.toDateString() %>)</em>
                <a href="/newmessage/<%= msg.id %>">Open</a>
                </li>
            <% }); %>
        </ul>
    </body>
</html>